.signin-container {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.signin-left {
  flex: 1;
  background-image:  linear-gradient(
      rgba(98, 18, 109, 0.808),   
      rgba(174, 170, 175, 0)    
    ), url('../../../assets/Tribtel.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #e3ff47; 
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}

.signin-logo {
  width: 140px;
  margin-top: -6rem;
  margin-bottom: 2rem;
}

.signin-brand {
  font-size: 2.5rem;
  letter-spacing: 2px;                                                            
  font-weight: 200;
  font-family: 'Michroma', sans-serif;
}

.signin-right {
  flex: 1;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}