.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.layoutMain {
  flex: 1;
  padding-top: 90px;
  width: 100%;
}

@media (max-width: 1024px) {
  .layoutMain {
    padding-top: 80px;
  }
}

@media (max-width: 768px) {
  .layoutMain {
    padding-top: 70px;
  }
}

@media (max-width: 480px) {
  .layoutMain {
    padding-top: 60px;
  }
}