.signin-container {
  display: flex;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.signin-left {
  flex: 1;
  background: linear-gradient(to bottom right, #441d68, #f78f1e);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signin-logo {
  width: 100px;
  margin-bottom: 1rem;
}

.signin-brand {
  font-size: 2rem;
  font-weight: 600;
}

.signin-right {
  flex: 1;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
}
