.signin-container {
  display: flex;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.signin-left {
  flex: 1;
  background-image:  linear-gradient(
      rgba(71, 2, 80, 0.747),   /* top dark overlay */
      rgba(127, 101, 133, 0.048)    /* bottom dark overlay */
    ), url('../../../assets/cuisine.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signin-logo {
  width: 140px;
  margin-bottom: 2rem;
  margin-top: -16rem;
}

.signin-brand {
  font-size: 2.5rem;
  letter-spacing: 2px;                                                            
  font-weight: 200;
  font-family: 'Michroma', sans-serif;
}

.signin-right {
  flex: 1;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
}
