.wrap {
  display: flex;
  gap: 8px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  flex: 1;
}

.input {
  margin-top: 6px;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  font-size: 14px;
}
